asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
defusedxml==0.7.1
Django==6.0.5
django-cors-headers==4.3.1
django-filter==24.3
djangorestframework==3.17.1
djangorestframework_simplejwt==5.4.0
djoser==2.3.1
drf-extra-fields==3.7.0
drf-spectacular==0.29.0
filetype==1.2.0
idna==3.13
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
oauthlib==3.3.1
packaging==26.2
psycopg2-binary==2.9.11
pillow==11.0.0
pycodestyle==2.14.0
pycparser==3.0
python-dotenv==1.2.2
python3-openid==3.2.0
pytz==2026.2
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
rpds-py==0.30.0
social-auth-app-django==5.9.0
social-auth-core==4.9.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.6.3